header {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    height: 150px;
    width: 100%;
    max-width: 1920px;
    background-color: #a2af9b;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    width: 100%;
    max-width: 1920px;
    min-height: 90vh;
    color: #414141;
    background-color: #eeeeee;

    .new-note-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex: 1;
      height: 100%;
      margin-top: 3%;

      > button {
        font-size: 40px;
        color: #26541e;
        background: #a2af9b;
        height: 70px;
        width: 350px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }

      button:hover {
        background-color: #b2beac;
      }

      button:active {
        background-color: #83927b;
      }

      .new-note {
        display: none;
        align-items: center;
        justify-content: center;
        height: 260px;
        width: 380px;
        background-color: #dccfc0;
        border-radius: 10px;
        form {
          display: flex;
          flex-direction: column;
          font-size: 20px;
          color: #414141;
          border-radius: 10px;

          input {
            border: none;
            height: 45px;
            width: 300px;
            border-radius: 10px;
            background-color: #faf9ee;
            padding: 10px;
            margin-bottom: 10px;
          }

          button {
            font-size: 20px;
            background-color: #a2af9b;
            cursor: pointer;
            height: 40px;
            width: 300px;
            border: none;
            border-radius: 10px;
            margin-top: 10px;
          }
          button:hover {
            background-color: #b2beac;
          }

          button:active {
            background-color: #83927b;
          }

          input[type="text"]:focus {
            border: 2px solid #cecccc;
            outline: none;
          }
        }
      }
    }

    .normal-notes {
      margin-top: 5%;
    }

    .notes {
      display: flex;
      flex: 3;
      flex-direction: column;
      height: 100%;

      .archive-title,
      .trash-title {
        display: none;
        margin-top: 50px;
      }

      > section {
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        padding: 30px 0 60px 60px;
      }

      h2 {
        font-size: 40px;
      }

      .note {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 200px;
        width: 350px;
        background-color: #dccfc0;
        border-radius: 10px;

        h3 {
          padding: 0 20px;
          font-size: 40px;
          width: 100%;
        }

        p {
          font-size: 25px;

          padding: 0 20px;
        }

        .cruid-options {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 0 20px;
          button {
            color: #474b45;
            height: 30px;
            width: 90px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            background-color: #a2af9b;
          }

          button:hover {
            background-color: #b2beac;
          }

          button:active {
            background-color: #83927b;
          }

          .btn-archive {
            color: rgb(78, 165, 142);
          }
          .btn-edit {
            color: rgb(51, 85, 51);
          }
          .btn-delete {
            color: rgb(234, 110, 33);
          }
        }
      }
    }

    .edit-dialog {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 290px;
      width: 400px;
      background-color: #dccfc0;
      border: none;
      border-radius: 10px;
      padding: 20px;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        color: #414141;
        height: 100%;
        width: 100%;

        label {
          align-self: self-start;
          margin: 0px 15px;
        }

        input {
          background-color: #faf9ee;
          outline: none;
          height: 43px;
          width: 330px;
          border: none;
          border-radius: 10px;
          padding: 10px;
          margin-bottom: 10px;
        }

        button {
          height: 40px;
          width: 330px;
          cursor: pointer;
          border: none;
          outline: none;
          margin-top: 10px;
          border-radius: 10px;
          background-color: #83927b;
        }
        button:hover {
          background-color: #b2beac;
        }

        button:active {
          background-color: #83927b;
        }
      }
    }

    .edit-dialog::backdrop {
      background-color: #eeeeee66;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    background-color: #a2af9b;
    height: 150px;
    width: 100%;
    max-width: 1920px;
  }
}

@media (max-width: 850px) {
  .content {
    flex-direction: column;

    .notes {
      align-items: center;
      .normal-notes,
      .archive-notes,
      .trash-notes {
        justify-content: center;
        padding: 50px;
      }
    }
  }
}

@media (max-width: 500px) {
  main {
    .content {
      .new-note-content {
        > button {
          height: 50px;
          width: 300px;
        }

      .new-note{
        height: 200px;
        width: 300px;

        form {
          align-items: center;

          label{
            align-self: flex-start;
            /* padding-left: 30px; */
          }
          input {
            height: 30px;
            width: 250px;
          }

          button {
            width: 250px;
            height: 30px;
          }
        }
      }
      }

      .notes {
        .normal-notes, .archive-title, .archive-notes, .trash-title, .trash-notes {
          padding: 0;
        }
        > section {
          gap: 30px;
          padding: 0;
        }
      .note {
        width: 300px;

        h3 {
          font-size: 25px;
        }
        p {
          font-size: 16px;
        }

        .cruid-options {
          button{
            width: 60px;
          }
        }
      }
    }

    .edit-dialog {
      width: 300px;
      height: 200px;
      padding: 5px;
      
      form {
        font-size: 16px;
        label {
          margin: 0;
          padding-left:7%;
        }
        input {
          width: 250px;
          height: 30px;
          padding: 5px;
        }

        button {
          width: 250px;
          height: 24px;
          margin-top: 5px;
        }
      }

    }
    .edit-dialog::backdrop {
          background-color: #b4b1b1cb;
}
  }
}
}

