* {
    position: relative;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    list-style-type: none;
}


